services:
  vault:
    image: hashicorp/vault:1.15
    container_name: cockpit_vault
    user: "0:0"
    ports:
      - "8200:8200"
    volumes:
      - ./config:/vault/config
      - ./data:/vault/file
      - ./logs:/vault/logs
    environment:
      VAULT_ADDR: 'http://127.0.0.1:8200'
    cap_add:
      - IPC_LOCK
    command: server
    restart: unless-stopped
